@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  color: #fff;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Arvo', serif;
}